<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>

<body>
    <h1>WHAT TO EXPECT</h1>
    <h3>
        I will say that a lot of this is up in the air, but I want you to feel welcome and for you to know
        plans are being made with you in mind. You might be Mr. Spontaneous, but I'd still 
        want to know if I were you haha. Whatever you can manage, I'll make it work.
    </h3>

    <h2>Arrival</h2>
    <h3>Since we're harvesting early on Friday, arrival on Thursday evening
        after I get off of work is ideal. I work until 5, so sometime after that,
        and I'd love to take you out to eat somewhere. Then, I'll get you situated at the b&b 
        for the night, not too far from the property.
    </h3>
    <h2>Harvests</h2>
    <h3>
        We'll start right before sunrise day-of, and we'll likely go until 
        late lunch-- pizzas from the tasting room. I'll probably make you stick around 
        to clean up and process the harvest, but after that, we'll be home free. 
        I'll show you around the house, the property and whatnot. I'll take you into town 
        after that and show you some of my favorite little bits 'n pieces.
        Maybe we can even cook up some food one night/morning (Tainting the kitchen space with such 
        a horrific use as meal preparation is high treason in this house, so it would be quite a feat).  
    </h3>
    <h2>Leaving</h2>
    <h3>
        Again, a lot of this is up in the air. I'm imagining you'll either leave Saturday afternoon/evening after harvest, or Sunday morning.
        It won't hurt my feelings one bit if you've got to get back to Corelands, lol. The world is your oyster!
    </h3>

    <br><br>
    <h3>I'm super excited to see you. More than you know. Let me know if there's anything I'm missing.</h3>
</body>