{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>A Cordial Invite</title>
    <link rel="stylesheet" href="{% static 'cordialinvite.css' %}"> 
</head>
<body style = "text-align:center">

<h1> You are cordially invited! </h1>
<br><br>
<h2>Your divine presence has been requested</h2>
<h2>At the cheery Christoval estate of the Neff family,</h2>
<h2>To endeavor in this season's bountiful grape harvest.</h2>
<br>
<h2>The head of estate has decreed the affair to take place</h2>
<h2>On Friday and Saturday, August 8th-9th.</h2>
<br>
<h2>Although the hours be long and the work perhaps tiresome,</h2>
<h2>the young maiden of the Neff family endeavors to entice thee</h2>
<h2>with room and board, and the promise to share the secrets</h2>
<h2>of her homeland.</h2>
<br>
<h2>Note that the dates are yet to be carved in stone, </h2>
<h2>and the vines may wish to be plucked Saturday-Sunday, </h2>
<h2>or perhaps still some other time, which will soon be discerned more fully.</h2>
<br>
<a href="{% url 'agenda' %}">
            <button>Take me to the agenda</button>
    </a>
</body>