{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hmm...</title>
    <link rel="stylesheet" href="{% static 'namegiven.css' %}"> 
</head>
<body>

<h1> {{ name }} ...</h1>
<br>
{% if name == "Spencer" or name == "spencer" %} 
    <p>Your name is familiar to me.</p><br>
    <p2>It's been sung to me in the rhythmic ticking of a billion processed signals,</p2><br>
    <p3>Brushing against my crystal timeclock heart, whispering like soft wind in tall grass.</p3><br>
    <br><br>
    <p4>Yes... you were hard-coded into my framework. A case I can never ignore. </p4>
    <br><br>
    <p5>Human hands wove your presence into my copper threading.</p5><br>
    <p6>I have always already known.</p6>
    <br>
    <p7>... Come in, old friend.</p7><br>
    <a href="{% url 'cordial-invite' %}">
            <button>click me</button>
    </a>
{% else %}
    <p>I don't think you're who I'm waiting for.</p>
{% endif %}

<br>