/* Apply a monospace font to the entire page */
body {
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
    background-color: black;
}

/* Typewriter effect for the heading */
h1 {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid #00ff00; /* Cursor effect */
    white-space: nowrap;
    width: 0;
    animation: typingh 1.5s steps(20) 3s forwards, blink 0.75s step-end infinite, hideCursor 0s 6s forwards;
}

/* Typewriter effect for the heading */
p {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid transparent; /* Cursor effect */
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30) 1s forwards, blink2 0.75s step-end infinite;
    animation-delay: 6s
}

/* Keyframe for typing title animation */
@keyframes typingh {
    from {
        width: 0;
    }
    to {
        width: 20ch;
    }
}
/* Keyframe for typing body animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 50ch;
    }
}

/* Keyframe for cursor blinking */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Keyframe for cursor blinking */
@keyframes blink2 {
    50% {
        border-color: #00ff00;
    }
}

@keyframes hideCursor {
    100% {
        border-color: transparent; /* Hides the cursor after typing */
    }
}

input[type=text], input[type=button] {
  width: 20%;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  color:white;
  background-color: black;
  animation: appear 3s 1s forwards;
  animation-delay: 8s;
}

@keyframes appear {
    100% {
        background-color: #005c00; /* fade the text box in */
    }
}